<!--input row -->
<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<div class="animated fadeInUp input-group">
				<form id="todo-form" ng-submit="addTodo()">
						
				<input class="form-control input-lg" ng-model="newTodo" id="test">
							            
				</form>
				<span class="input-group-btn">
				<button class="btn btn-default btn-lg" ng-click="addTodo()" id="go-button">
				<i class="glyphicon glyphicon-plus-sign"></i>
				</button>
			</span>
		</div>
	</div>
</div>